<div class="text-center">
    <h1 class="text-info"> Заявка получена! </h1>

    <p> Мы получили ваш запрос, и кто-то из нашей команды свяжется с вами в ближайшее время! </p>

    <p> Спасибо за заказ </p>

    <img src="/images/Nuts.jpg" width="80%" />

</div>

